<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Tickets>
            <version>0.1.0</version>
        </Inchoo_Tickets>
    </modules>
    <global>
        <models>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Model</class>
                <resourceModel>inchoo_tickets_resource</resourceModel>
            </inchoo_tickets>
            <inchoo_tickets_resource>
                <class>Inchoo_Tickets_Model_Resource</class>
                <entities>
                    <ticket>
                        <table>ticket</table>
                    </ticket>
                    <ticket_message>
                        <table>ticket_message</table>
                    </ticket_message>
                </entities>
            </inchoo_tickets_resource>
        </models>
        <blocks>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Block</class>
            </inchoo_tickets>
        </blocks>
        <helpers>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Helper</class>
            </inchoo_tickets>
        </helpers>
        <resources>
            <inchoo_tickets_setup>
                <setup>
                    <module>Inchoo_Tickets</module>
                </setup>
            </inchoo_tickets_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <inchoo>
                <use>standard</use>
                <args>
                    <frontName>inchoo</frontName>
                    <module>Inchoo_Tickets</module>
                </args>
            </inchoo>
        </routers>
        <layout>
            <updates>
                <inchoo_tickets>
                    <file>inchoo_tickets.xml</file>
                </inchoo_tickets>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Tickets before="Mage_Adminhtml">Inchoo_Tickets_Adminhtml</Inchoo_Tickets>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>